/* body {
   
} */
.products-containter {
    padding: 75px 0;
    background-color: #80808033 !important;
   
}
.sec-heading {
    margin-top: 1.5em;
    padding-left: 1em;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    
}
.sec-heading:after {
    content: "";
    display: block;

    width: 70px;
    height: 3px;
    background-color: #8e2de2;
    margin-top: 10px;
 
}

.products {
    padding-top: 35px;
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    

}
.custom-list {
    display: grid;
    grid-gap: 16px; /* Adjust the desired gap size */
  }
@media only screen and (max-width:768px) {
    .products-container {
        margin: 50px 0;
    }
    .sec-heading {
        margin-bottom: 20px;
        font-size: 18px;
    }
    .sec-heading:after {
        margin-top: 5px;
    }
    .products {
        gap: 10px;
    } 
}