* {
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
}
.signup-body {
    display: flex;
    /* height: 100vh;
    margin-top: 50px; */
    height: 88vh;
}
/* 
.signup-form-div,
.empty-div{
    flex: 1;
    width: 50%;
    height: 50%;
} */

.signup-forum-div {
    flex: 0 0 50%;
    display: flex;
   
    padding: 10px;
 
    /* center here */
    align-items: center;
    justify-content: center;
   
}
.signup-forum-div .form {
    display: flex;
    flex-direction: column;

}
/* .forum-div form {
    width: 504px;
    height: 479px;
    
    display: flex;
    justify-content:space-evenly;
    align-items:normal;
    flex-direction: column;
    padding: 20px;
    transition: all 0.3s ease;

}
*/

.signup-form-logo {
    color: #F47458;
    font-size: 36px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 1em;

}
.signup-form-welcome {
    padding-top: 1em;
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.48px;

}
.signup-form-sign {
    font-family: Poppins;
    font-style: normal;
    color: #000;
    font-size: 56px;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 0.3em;
}

.signup-form-label {
    display: block !important;
    color: #000;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}
/* .signup-form-form label {
    display: block;
    color: #000;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
} */


/* .form-form input {
    display: block;

    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF6F4;
    border: none;

    min-height: 29px;
    width: 100%;
    margin: 2% 0;

} */
/* .form-form input:focus {
    outline: none;
} */
/* .form-form input::placeholder {
    padding: 1em;
}
.form-form input:focus::placeholder {
    font-weight:bold;
}
.form-butn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
} */
/* .form-butn{
    display: block;
    border-radius: 23px;
    background: #F47458;
    border: none;
    color: white;
    padding: .5em;
   
}
.form-butn:hover {
    opacity: 0.6;
} */

.form-footer {
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.48px;
}

.form-link {
    text-decoration: none;
    margin-left: .6em;
    color: #F47458
}
.form-link:hover {
    opacity: .6;
}

.empty-div {
    flex: 1;
}
.empty-div {
    background-image: url(../../public/login.png);
    background-size: cover;


}
.signup-butn {
    background-color: #F47458;

    
}
.signup-butn:hover {
    background-color: #F47458 !important;
    opacity: 0.6;
}
@media only screen and (max-width: 1000px) {
    .signup-body {
        display: flex;
        justify-content: center;

    }
    .signup-forum-div{
        width: 100%;
    }
    .empty-div{
        display: none;
    }
}
